.modal-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, .4);
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
    .modal-window {
        width: 50%;
        min-height: 10%;
        padding: 20px 0;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: lightgray;
        box-shadow: 5px 0 10px 0 rgba(0, 0, 0, .7);
        &__title {
            margin-bottom: 20px;
        }
        &__close {
            position: absolute;
            width: 20px;
            height: 20px;
            padding: 0 0;
            font-size: 20px;
            border-radius: 50%;
            border: 0 lightpink;
            box-sizing: border-box;
            background-color: lightpink;
            cursor: pointer;
            color: red;
            top: -10px;
            right: -10px;
        }
        &__buttons {
            width: 70%;
            display: flex;
            justify-content: space-around;
            margin-top: 40px;
            margin-bottom: 45px;
            user-select: none;
            &-item {
                cursor: pointer;
                width: 35%;
                display: flex;
                align-items: center;
                justify-content: center;
                padding: 10px 0;
                border: 1px solid gray;
                box-sizing: border-box;
                border-radius: 3px;
                transition: .4s;
                &:hover {
                    box-shadow: 0 0 10px 0 rgba (0, 0, 0, .6);
                    background-color: white;
                }
            }
        }
        .form {
            &__field {
                margin-bottom: 10px;
                &-name {
                    color: gray;
                    position: relative;
                    background-color: lightgray;
                    margin-left: 10px;
                }
                &-at,
                &-key {
                    color: gray;
                    &_error {
                        color: red;
                    }
                }
                &-input {
                    outline: none;
                    border-radius: 5px;
                    border: 1px dotted gray;
                    padding-left: 10px;
                    font-size: 20px;
                    height: 25px;
                    background-color: lightgray;
                    margin-left: 5px;
                    &_error {
                        border: 1px dotted red;
                    }
                }
            }
        }
    }
}