<div class="modal-wrapper" (click)="closeModal()">
    <div class="modal-window" (click)="stopProp($event)">
        <div class="modal-window__close" (click)="closeModal()">
            <i class="fas fa-times-circle"></i>
            <!-- (click)="closeWindow()" -->
        </div>
        <div class="modal-window__title">Authorization</div>
        <form novalidate [formGroup]="loginForm" class="form">
            <div class="form__field">
                <div class="form__field-name">Email:</div>
                <div class="form__field-email">
                    <i class="fas fa-at form__field-at" [class.form__field-at_error]="(email.dirty||email.touched)&&!email.valid"></i>
                    <input class="form__field-input" [class.form__field-input_error]="(email.dirty||email.touched)&&!email.valid" type="text" formControlName="email">
                    <div class="form__field-errors" *ngIf="(email.dirty||email.touched)&&!email.valid">
                        <span *ngIf="email.errors.required">Поле обязательно для заполнения.</span>
                        <span *ngIf="email.errors.pattern">Текст не является почтовым адресом.</span>
                        <span *ngIf="email.errors.emailCorrectValidator">Текст не является почтовым адресом.</span>
                    </div>
                </div>
            </div>
            <div class="form__field">
                <div class="form__field-name">Password:</div>
                <div class="form__field-password">
                    <i class="fas fa-key form__field-key" [class.form__field-key_error]="(password.dirty||password.touched)&&!password.valid"></i>
                    <input class="form__field-input" [class.form__field-input_error]="(password.dirty||password.touched)&&!password.valid" type="password" formControlName="password">
                    <div class="form__field-errors" *ngIf="(password.dirty||password.touched)&&!password.valid">
                        <span *ngIf="password.errors.required">Поле обязательно для заполнения.</span>
                        <span *ngIf="password.errors.minlength">Пароль не должен быть короче {{password.errors.minlength.requiredLength}} символов.</span>
                        <span *ngIf="password.errors.maxlength">Пароль не должен быть длиннее {{password.errors.maxlength.requiredLength}} символов.</span>
                    </div>
                </div>
            </div>
        </form>
        <div class="modal-window__buttons">
            <button [disabled]="!loginForm.valid" class="modal-window__buttons-item" (click)="sendData()">OK</button>
            <button class="modal-window__buttons-item" (click)="closeModal()">Cancel</button>
        </div>
    </div>
</div>