.track {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    background-color: lightgray;
    z-index: 100;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, .7);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    align-items: center;
    &__navigate {
        position: absolute;
        top: -40px;
        height: 40px;
        background-color: lightgray;
        width: 200px;
        left: calc(50% - 100px);
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 10px 10px 0 0;
        box-sizing: border-box;
        cursor: pointer;
        box-shadow: 5px -5px 5px 0 rgba(0, 0, 0, .5);
        &-icon {
            color: black;
            font-size: 36px;
        }
    }
    &__buttons {
        margin-top: 40px;
        display: flex;
        min-width: 160px;
        font-size: 36px;
        justify-content: space-around;
        align-items: center;
        cursor: pointer;
        box-sizing: border-box;
        padding: 5px;
        &-button {
            color: black;            
        }
        .start {
            color:darkgreen;
        }
        .pause {
            color: darkorange;            
        }
        .stop {
            color: darkred;
        }
        .resume {
            color: darkblue;
        }
    }
}