<div class="track" [@trackState]="state" (@trackState.done)="animationEnded($event)">
    <!-- [] для триггера анимации, () для событий анимации -->
    <div class="track__navigate" (click)="toggleState()">
        <i class="fas fa-angle-double-up track__navigate-icon" *ngIf="!isOpened"></i>
        <i class="fas fa-angle-double-down track__navigate-icon" *ngIf="isOpened"></i>
    </div>
    <div class="track__worktime" *ngIf="startTime && currentTime && !pauseTime">
        {{currentTime - startTime - pauseSum|timeseconds}}
    </div>
    <div class="track__buttons" [ngSwitch]="trackState">
        <ng-template #startTemplate [ngSwitchCase]="'stop'">
            <i class="fas fa-play track__buttons-button start" (click)="toggleStart()"></i>
        </ng-template>
        <ng-template #pauseTemplate [ngSwitchCase]="'start'">
            <i class="fas fa-pause track__buttons-button pause" (click)="togglePause()"></i>
            <i class="fas fa-stop track__buttons-button stop" (click)="toggleStart()"></i>
        </ng-template>
        <ng-template #resumeTemplate [ngSwitchCase]="'pause'">
            <i class="fas fa-play track__buttons-button resume" (click)="togglePause()"></i>
            <i class="fas fa-stop track__buttons-button stop" (click)="toggleStart()"></i>
        </ng-template>
    </div>
    <div class="track__pausetime" *ngIf="pauseTime && currentTime">
        {{currentTime - pauseTime|timeseconds}}
    </div>
</div>