<div class="header">
    <div class="header__title">
        <img class="header__title-logo" src="assets/logo.png" alt="">
        <span class="header__title-name">Time tracker</span>
    </div>
    <i class="fas fa-user header__account" routerLink="account" routerLinkActive="header__account_active"></i> <!-- (click)="openAccount()" -->
</div>
<router-outlet></router-outlet>
<modal-login *ngIf="isShowModal"></modal-login>
