.header {
    width: 100%;
    height: 70px;
    background: linear-gradient(to bottom, #354399, #729ce3);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 0 20px;
    &__title {
        height: 60px;
        display: flex;
        align-items: center;
        &-logo {
            height: 100%;
        }
        &-name {
            font-family: 'Jura', sans-serif;
            color: white;
            font-size: 50px;
            margin-left: 10px;
            user-select: none;
        }
    }
    &__account {
        color: white;
        font-size: 20px;
        cursor: pointer;
        outline: none;

        &_active {
            color: lightgreen;
        }
    }
}