.home {
    width: 100%;
    height: calc(100vh - 70px);
    overflow: hidden;
    box-sizing: border-box;
    padding: 20px;
    position: relative;
    &__text {
        font-size: 20px;
        width: 60%;
        color: darkslategray;
        position: relative;
        z-index: 2;
    }
    &__clock {
        color: lightgray;
        font-size: 250px;
        font-weight: bold;
        font-style: italic;
        position: absolute;
        z-index: 1;
        right: 120px;
        top: 50px;
        font-family: 'Sigmar One', cursive;
        user-select: none;
    }
}