<div class="home">
    <div class="home__text">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin convallis condimentum pulvinar. Nulla facilisi. Phasellus sit amet mauris interdum, porttitor nulla ut, ultricies dolor. Nam at ante non lorem rhoncus ullamcorper non in elit. Sed dictum urna
        sed lorem pretium, id molestie eros bibendum. Vivamus eget velit metus. Vivamus eget tortor malesuada, imperdiet ante vel, laoreet velit. Quisque hendrerit mi vitae dui euismod sodales. Phasellus iaculis ipsum ac pulvinar rhoncus. Vestibulum tortor
        nisi, pulvinar a vestibulum a, sollicitudin in tortor. Fusce ultricies ipsum id rutrum pellentesque. Praesent eu fermentum felis. Etiam gravida pulvinar ipsum. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
        Nunc porttitor lorem eros, lacinia dignissim risus feugiat non. Vestibulum ut dolor efficitur nibh consequat fermentum sit amet id leo. Vestibulum fermentum elit ac ultrices porta. Integer diam est, porta at finibus ut, lobortis nec ante. Praesent
        metus dolor, lobortis tristique dolor in, porta rutrum tellus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed semper,
        dui sed ornare feugiat, nibh ante efficitur massa, nec vestibulum felis urna nec turpis. Vestibulum nec hendrerit eros. Phasellus convallis posuere ipsum, ac iaculis sem faucibus sed. Maecenas vel feugiat tortor. Donec id rutrum sapien. Donec
        lacus risus, ornare et massa a, lobortis laoreet magna. Cras eros eros, blandit ac ultrices in, mollis sed nibh. Pellentesque interdum dictum commodo. Ut elementum tortor quam, ut interdum sapien hendrerit vel. Maecenas ut est vel mauris aliquet
        placerat vitae a tellus. Sed bibendum tortor nec augue bibendum rutrum. Aliquam tincidunt dolor quis orci dictum, sed dictum arcu mollis. Donec lectus lorem, cursus id aliquam non, consectetur ac arcu. Fusce justo arcu, feugiat porttitor tellus
        in, suscipit rutrum erat. Nulla facilisi.
    </div>
    <div class="home__clock" *ngIf="currentTime">
        <span class="home__clock-time">{{currentTime|time}}</span>
        <span *ngIf="readyToHome()">Пора домой!</span>
    </div>
    <track-time></track-time>
</div>